.get-help {
    &__container {}

    &__row {
        width: 892px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    &__title {
        text-align: center;
        margin-top: 46px;
        margin-bottom: 18px;
    }
    &__colum {
        display: flex;
        justify-content: space-between;
        &--left {
            width: 510px;
            margin-top: 55px;
        
        }
        &--right {
            width: 510px;
            background: #F0F6FA;
            height: 368px;
        }
        &__text {
            padding-top:10px;
        }

    }
    &__link {
        &--orandge {
           color: #FA873D;
           text-decoration:underline;
        }
    }
    &__subtitle {
        padding-left:35px;
        padding-top:44px ;
    }
    &__list {
        padding-top:23px;
        padding-left: 56px;
    }
    ul{
        color: #FA873D;
       
    }
    ul span{
        color:#133A4B ;
    }
    &__list li {
        margin-bottom: 10px;
    }
    
}


////**Media ****//////
@media screen and (max-width:1024px) {
.get-help {
    &__colum {
        &--left {
            width: 50%;
        }

        &--right {
            width: 50%;
        }
    }

    &__container {}

    &__link {
        &--orandge {}
    }

    &__list {}

    &__row {
        width: 100%;
        flex-wrap: wrap;
    }

    &__subtitle {}

    &__text {}

    &__title {}
}

.get-help-svg {}

.page-help-childs {
    &__icon {}

    &__item {}

    &__subtitle {}
}
}

@media screen and (max-width:768px) {
    .get-help {
        &__colum {
            flex-direction: column;
            &--left {
                width: 100%;
            }
    
            &--right {
                width: 100%;
            }
        }
    
        &__container {}
    
        &__link {
            &--orandge {}
        }
    
        &__list {}
    
        &__row {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    
        &__subtitle {}
    
        &__text {}
    
        &__title {}
    }
}