.page-child {
    &__colum {
        width: 40%;
    }

    &__colums {
        display: flex;
    }

    &__title {
        margin-bottom: 39px;
    }

    &--blue {
        color: #008AC4;
        font-weight: 800;
        font-size: 34px;
        line-height: 36px;
    }

    &--black {
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #133A4B;
    }
}

.leica {
    &__container {
        background: #F0F6FA;
        margin-top: 35px;
        padding-left: 20px;
    }

    &__btn {
        width: 252px;
        text-align: center;
        margin-bottom: 23px;

    }

    &__collected {
        padding: 14px 0px 25px 0px;
    }

    &__link {
        padding: 8px 0 13px 0px;
    }

    &__name {
        font-weight: 800;
        font-size: 18px;
        line-height: 22px;
        color: #133A4B;
        padding: 26px 0 30px 0px;
    }

    &__progressbar {
        background: #C9E0EC;
        height: 4px;
        width: 367px;
    }

    &__text-pay {
        width: 369px;
        font-size: 14px;
        line-height: 21px;
        padding-bottom: 28px;
        border-bottom: 1px solid #C9E0EC;

    }

    span {
        color: #00B112;
        font-weight: 800;
        font-size: 14px;
        line-height: 21px;
    }
}

.thanks {
    &__container {
        margin-top: 173px;
    }

    &__text {
        font-size: 18px;
        line-height: 22px;

    }
}

.tabs {
    &__container {
        margin-left: 22px;
    }

    &__item {
        &--active a {
            color: #008AC4;
            border-bottom: 4px solid #008AC4;
            padding-bottom: 14px;
        }
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 600px;
        padding-bottom: 14px;
        border-bottom: 1px solid #C9E0EC;
    }

    &__info {
        margin-top: 43px;
        width: 596px;
    }

    &__name {
        color: #133A4B;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
    }
}

@media screen and (max-width:1110px) {
    .page-child {
        &__colum {
            width: 50%;
            margin: 0 auto;
        }

        &__colums {
            flex-direction: column;
        }

    }

    .tabs {
        width: 100%;

        &__container {
            margin: 0 auto;
            margin-top: 60px;
        }

        &__info {
            width: 100%;
        }

        &__nav {
            width: 100%;
        }

    }
}

@media screen and (max-width:768px) {
    .leica {
        &__btn {
            width: 50%;
        }



        &__progressbar {
            width: 100%;
        }

        &__text-pay {
            width: 100%;
        }
    }

    .thanks {
        &__container {
            margin-top: 60px;
        }


    }

    .page-child {
        &__colum {
            width: 100%;
            margin: 0 auto;
        }

        &__pic {
            text-align: center;
        }

    }

    .tabs {
        width: 100%;

        &__container {
            margin: 0 auto;
            margin-top: 60px;
        }

        &__info {
            width: 100%;
        }

        &__nav {
            width: 100%;
            justify-content: space-around;
        }

    }
}