.faq {
    &__item {
        width: 245px;
        text-align: center;
        margin-left: 10px;
    }

    &__item:first-child {
        margin-left: 0;
    }

    &__item:nth-child(2) {
        width: 357px;
    }

    &__items {
        display: flex;
        justify-content: center;
    }

    &__row {
        max-width: 865px;
        margin: 0 auto;
    }

    &__text {}

    &__title {
        text-align: center;
        margin-top: 51px;
        margin-bottom: 78px;
    }
}


//**Media **///
@media screen and (max-width:1366px) {
    .faq {
        &__item {
            max-width: 100%;
            margin: 0 auto;
            margin-top: 30px;
        }

        &__items {
            flex-direction: column;
        }

        &__item:first-child {
            margin: 0 auto;
            margin-top: 0;
        }
    }
}