.decorline{
    height: 4px;
    background-image: url(../../../img/svg/decorline.svg);
   
}
.menu {
    &__bottom {}

    &__item {
        margin-left: 32px;
        line-height: 24px;
    }
    /**Последнему элементу убрать отступ**/
    &__item:first-child{
        margin-left: 0px;
    }
    /**Второму элементу отступ меньше**/
    &__item:nth-child(2){
        margin-left: 12px;
    }



    &__items {
        display: flex;
        flex-wrap: wrap;
    }

    &__lang {}

    &__tel {}

    &__tel-blue {}

    &__top {
        display: flex;
        flex-wrap: wrap;
        margin-top: 26px;
    }
}