.donate {
    &__container {
        background: #008ac4;
        margin-top: 56px;
    }

    &__row1 {
        width: 455px;
        margin-bottom: 5px;
    }

    &__row2 {
        width: 495px;
        padding-bottom: 26px;
    }

    &__rows {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-size: 16px;
        line-height: 36px;
    }

    &__rows span {
        background: #fa873d;
    }

    &__title {
        text-align: center;
        padding-top: 41px;
        padding-bottom: 28px;

        &--white {
            color: #fff;
        }
    }
}

/**Media**/
@media screen and (max-width:1024px) {

    .donate {
        &__container {
        }

        &__row1 {
            width: 100%;
        }

        &__row2 {
            width: 100%;
        }

        &__rows {
            text-align: center;
        }

        &__title {
            text-align: center;
            &--white {}
        }
    }
}