.front-intro {
	margin-bottom: 55px;
	@include r(1080) {
		display: none;
	}
	&__container {

	}
	&__slider {

	}
	&__slider-wrapper {

	}
	&__slide {
		position: relative;
		img {
			display: block;
		}
	}
	&__control {
		position: absolute;
		z-index: 2;
		bottom: 15px;
		left: 0px;
		right: 0px;
	}
	&__btn {
		max-width: 170px;
		margin-left: auto;
		margin-right: auto;
	}
	&__swipe {
		width: 40px;
		height: 40px;
		position: absolute;
		svg {
			fill: $light;
			display: block;
		}
		&--prev {
			right: 65px;
			top: 0px;
			svg {
				transform: rotate(180deg);
			}
		}
		&--next {
			right: 19px;
			top: 0px;
		}
		&--disabled {
			opacity: 0.6;
			pointer-events: none;
		}
	}
}