.email {
    &__container {
        background: #FA873D;
        margin-top: 117px;

    }

    &__row {}

    &__subtitle {}

    &__title {
        padding-top: 41px;
        text-align: center;
        color: #fff;
    }
}