.email {
    &__container {
        background: #FA873D;
        margin-top: 117px;

    }

    &__row {
        padding-top: 45px;
        padding-bottom: 37px;
        display: flex;
        justify-content: center;
    }


    &__subtitle {
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    &__subscribe {
    
    }

color: #FFFFFF;
    }

    &__title {
        padding-top: 41px;
        text-align: center;
        color: #fff;
    }
}
