.email {
    &__container {
        background: #fa873d;
        margin-top: 117px;
    }

    &__row {
        padding-top: 45px;
        padding-bottom: 37px;
        display: flex;
        justify-content: center;
    }


    &__subtitle {
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #fff;

        &__subscribe {}
    }

    &__title {
        padding-top: 41px;
        text-align: center;
        color: #fff;
    }
    &__link {
        font-size: 14px;
        line-height: 21px;
        text-align: center;
        color: #fff;
    }
    &__link:hover {
        opacity: 0.9;
        color: #133a4b;
    }
}
.subscribe-btn--disabled{
    opacity: 0.6;
    pointer-events: none;
}

input.subscribe {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    width: 358px;
    height: 42px;
    border: none;
}
input.subscribe::placeholder {
    color: #fff;
    padding-left: 19px;
    padding-top: 9px;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    margin-right: 11px;
    margin-top: 13px;
}
.email__subscribe {
    color: #fff;
}
///***Media****///
@media screen and (max-width:768px) {
    .email {
        &__subscribe {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    input.subscribe {
        width: 100%;
    }
    .subscribe-btn {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
}
