.form-volunteer {
    background: #008AC4;
    &__container {}

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 97px;

    }

    &__title {
        color: #fff;
        padding-top: 41px;
        margin-bottom: 25px;
    }
    input[type='EMAIL'] {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        border: none;
        width: calc(30%);
        padding:10px 0px 10px 15px;
        margin-right: 10px;
        
    }
    input[type='EMAIL']:last-child{
        margin-right: 0px;
    }

    input ::placeholder{
        color: #fff;
    }
    &__btn {
        width: 179px;
        margin-left: 0px;
    }
    label{
        margin-left: 30px;
        margin-right: 11px;
        
    }
    label a:hover{
        color:#fff;
    }

}