.main-swiper {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 17px;
    margin-right: 0px;
    max-width: 100%;
    padding-right: 15px;

    &__next {
        background: #FA873D;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        width: 36px;
        height: 36px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__next:hover{
        background: #008AC4;
    }
    &__pagination {
        width: 586px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 99999;
        right: 19px;
        bottom: 32px;
    }
    &__nagination{
        width: 82px;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 99999;
        right: 19px;
        bottom: 32px;
    }

    &__prev {
        background: #FA873D;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
        border-radius: 20px;
        width: 36px;
        height: 36px;
        text-align: center;
        justify-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    &__prev:hover{
        background: #008AC4;
    }
    img {
        opacity: 1;
    }
    &--disabled {
        opacity: 0.6;
        pointer-events: none;
    }
    &__btn {
        color: #fff;
    }
    &__btn:hover{
        color: #fff;
    }

}


////**Media***////

@media screen and (max-width:1366px) {
    .help {
        bottom: 0;
        left: 0;
    }

    .main {
        &__pic {
            max-width: 100%;
        }
    }
}