.item {
    max-width: 510px;

    &__about {
        margin-left: 23px;
    }

    &__colums {
        display: flex;
    }
    

    &__pic {
        max-width: 157px;
    }

    &__text {
        max-width: 326px;
        font-size: 16px;
        line-height: 24px;
    }

    &__title {
        max-width: 326px;
        margin-bottom: 13px;
        &--black {
            color:#133A4B;
            font-weight: 500;
            font-size: 20px;
            line-height: 22px;
        }
    }
}
//**отступ от 2 последних элементов наверное можно сделать проше **//
.item:nth-child(n+3){
    margin-top: 60px;
}

.reviews {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    &__title {
        margin-top: 63px;
        text-align: center;
        margin-bottom: 71px;
    }
}