.teams {
    &__container{
        margin-top: 38px;
        margin-bottom: 133px;
    }
    &__item {
        width:25%;
        margin-bottom: 20px;
    }

    &__name {
        padding-top: 11px;
        padding-bottom: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #133A4B;
    }
    &__row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__slogan {
        font-size: 16px;
        line-height: 20px;
    }

    &__specialty {
        font-size: 16px;
        line-height: 20px;
        color: #8EAAB6;
        margin-bottom: 20px;
    }
}
.teams-about{
    &__container{
        background:#F0F6FA;
        padding: 60px 0px 60px 0px;
    }
    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
    }
}

/////**********Media***********//////////
@media screen and (max-width:768px) {
    .teams {
        &__row {
           flex-direction: column;
           text-align: center;
        }  
        &__item {
            width:50%;
            margin: 0 auto;
            margin-bottom: 60px;
            
        }
    }
}
