.page-help-childs {
    &__container {}

    &__icon {}

    &__item {
        display: flex;
    }

    &__row {
        margin: 0 auto;
        display: flex;
        max-width: 480px;
        justify-content: space-between;
    }

    &__subtitle {
        margin-left: 10px;
        padding-top: 10px;

    }

    &__title {
        text-align: center;
        margin-top: 46px;
        margin-bottom: 19px;
    }

    &__galery {}

    &__colum {}

    &__colums {
        column-count: 4;
        column-gap: 20px;
        margin-top: 27px;
    }

}