.page-help-childs {
    &__container {}

    &__icon {}

    &__item {
        display: flex;
        

    }

    &__row {
        display: flex;
        max-width: 480px;
        justify-content: space-between;
    }

    &__subtitle {
        margin-left: 10px;
    }

    &__title {
        text-align: center;
        margin-top: 46px;
        margin-bottom: 19px;
    }
}