.gallery {
    &__item {}

    &__row {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__subtitle {
        line-height: 16px;
        max-width: 136px;
    }

    &__title {
        max-width: 133px;
    }

    &__text {
        &--blue {
            color: #c9e0ec;
            line-height: 16px;
        }
    }

    &__btn {
        padding: 8px 45px 8px 45px;
        margin-top: 45px;
    }
}


//**Media*//