    .gallery {
        &__item {}

        &__row {
            margin-top: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__subtitle {
            line-height: 16px;
            max-width: 136px;
        }

        &__title {
            max-width: 133px;
        }

        &__text {
            &--blue {
                color: #C9E0EC;
                line-height: 16px;
            }
        }

        &__btn {
            padding: 8px 45px 8px 45px;
            margin-top: 45px;

            &--transparent {
                border: 2px dashed #C9E0EC;
                border-radius: 4px;
            }
        }
    }