.news {
    &__date {
        margin-top: 16px;
        margin-bottom: 2px;
        &--blue {
            color:#008AC4;
        }
    }

    &__item {
        max-width: 333px;
    }

    &__pic {}

    &__row {
        display: flex;
        justify-content: space-between;
    }

    &__text {}

    &__title {
        margin-top: 56px;
        text-align: center;
        margin-bottom: 51px;
    }
    &__bottom {
     width:auto;
     display: flex;
     justify-content: center;
    }

    &__btn {
        margin-top: 56px;
        display: inline-block;
        padding: 8px 32px 8px 32px;
    }
}

//***Media**//
@media screen and (max-width:768px) {
.news {
    &__item {
        max-width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }
    &__item:last-child{
        margin-bottom: 0px;
    }

    &__row {
        flex-direction: column;
    }
}

