.programa {
    &__item {
        max-width: 245px;
        text-align: center;
        margin-left: 40px;
    }

    &__item:first-child {
        margin-left: 0px;
    }

    &__items {
        display: flex;
        flex-wrap: wrap;

    }

    &__pic {}

    &__row {
        width: 815px;
        margin: 0 auto;

    }

    &__text {
        margin-top: 25px;
    }

    &__title {
        margin-top: 72px;
        margin-bottom: 61px;
        text-align: center;
    }
}