.footer {
    &__columns {
        display: flex;
        flex-wrap: wrap;
    }

    /**Блок с иконками**/

    &__icon {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    &__icon:first-child {
        margin-top: 0;
    }

    &__icon:last-child {
        margin-top: 33px;
    }

    &__icons {
        margin-left: 105px;
        margin-right: 11px;
    }

    &__top {
        margin-top: 41px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        max-width: 272px;
    }

    //*Блок с ссылками **//
    &__link {
        margin-top: 18px;
    }

    &__link:first-child {
        margin-top: 0;
    }

    &__link:last-child {
        margin-top: 12px;
    }

    &__lists {
        display: flex;
        flex-direction: column;
    }

    &__list {
        margin-top: 27px;
    }

    &__list:first-child {
        margin-top: 0;
    }

    &__menu {
        display: flex;
        margin-left: 46px;
        justify-content: space-between;
        width: 314px;
    }
    &__bottom {
        margin-top: 57px;
    }
}
.bottom {
    &__container {
        background: #133a4b;
    }

    &__copy {}

    &__titile {
        padding-top: 38px;
        padding-bottom: 33px;
        color: #fff;
    }
}


/**Media**/
@media screen and (max-width:1024px) {
    .bottom {
        &__container {}

        &__copy {}

        &__titile {}
    }

    .footer {
        &__bottom {}

        &__columns {}

        &__icon {}

        &__icons {}

        &__info {}

        &__item {}

        &__link {}

        &__list {}

        &__lists {}

        &__logo {}

        &__menu {}

        &__pic {}

        &__social {}

        &__top {}
    }

    .footer-svg {}

    .social {
        &__hashtag {}

        &__item {}

        &__items {}

        &__row {}
    }
}
@media screen and (max-width:768px) {
    .bottom {
        &__container {}
    
        &__copy {
            flex-direction: column;
        }
    
        &__titile {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .footer {
        &__bottom {}
    
        &__columns {
            flex-direction: column;
        }
    
        &__icon {}
    
        &__icons {}
    
        &__info {}
    
        &__item {}
    
        &__link {}
    
        &__list {
        }
    
        &__lists {}
    
        &__logo {}
    
        &__menu {
            flex-direction: column;
        }
    
        &__pic {}
    
        &__social {}
    
        &__top {}
    }
}
