.footer {
    &__colums {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__logo {}

    &__pic {
        margin-top: 41px;
        margin-bottom: 38px;
        max-width: 300px;
    }

    &__row {}

    &__social {}

    &__top {}

}

.address {
    &__colums {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    &__email {}

    &__mail {}

    &__map {}

    &__tel {}

    &__text {}
}


.social {
    &__hashtag {}

    &__item {}

    &__items {}
}
