@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:400,800&display=swap');

@font-face {
    font-family: 'MPLUSRounded1c-Regular';
    src: url('../../fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RoundedMplus1c-Regular';
    src: url('../../fonts/MPLUSRounded1c/RoundedMplus1c-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'MPLUSRounded1c-ExtraBold';
    src: url('../../fonts/MPLUSRounded1c/MPLUSRounded1c-ExtraBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'RoundedMplus1c-ExtraBold';
    src: url('../../fonts/MPLUSRounded1c/RoundedMplus1c-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  