h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body {
    color: #133A4B;
    font-family: 'MPLUSRounded1c-Regular';
    font-size: 16px;
    line-height: 24px;
}

/**Обертки*/
.wrapper-full {
    width: 1920px;
    margin: 0 auto;
}

.wrapper {
    width: 1040px;
    margin: 0 auto;
}

/**Оформления для Ссылки**/
a {
    text-decoration: none;
    color: #133A4B;
}

a:hover {
    color: #008AC4;
}

/*Иконки svg**/
.icon-svg rect:hover {
    fill: #008AC4;
}

.icon-svg circle:hover {
    fill: #FA873D;
}

.footer-svg{
    fill: #008AC4;
}

.footer-svg :hover{
fill: #FA873D;
}

/*Изображения**/
img {
    max-width: 100%;
    height: auto;
}
img:hover{
    opacity: 0.7;
}

/**Заголовок**/
.title {
    font-weight: 800;
    font-size: 34px;
    line-height: 36px;
    color: #FA873D;
}

/**Кнопки*/

/**Прозрачная кнопка*/
.btn-transparent {
    border: 2px dashed #C9E0EC;
    border-radius: 4px;
}
.btn-transparent:hover{
    border: 2px dashed #FA873D;

}
.subscribe-btn {
    background: #fff;
    padding: 9px 40px 9px 40px;
    margin-left: 20px;
    border-radius: 4px;
    border: none;
    color: #133A4B;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.02);
}
.decor{
    z-index: -1;
    position: absolute;
}
.decor-left{
    left:125px;
}
.decor-right{
    right:125px;
}






/**Media**/
@media screen and (max-width:1366px) {
    .wrapper-full{
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .wrapper{
        width: 100%;
    }
    .wrapper-full{
        width:100%;
    }
    .title{
        text-align: center;
    }
}