h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}

body {
    color: #133A4B;
    font-family: 'MPLUSRounded1c-Regular';
    font-size: 16px;
    line-height: 24px;
}

/**Обертки*/
.wrapper-full {
    width: 1920px;
    margin: 0 auto;
}

.wrapper {
    width: 1070px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/**Заголовки***///////
h6{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #133A4B;
}


/**Оформления для Ссылки**/
strong {
    color: #133A4B;
    font-weight: 800;
    font-size: 18px;
    line-height: 27px;
}

a {
    text-decoration: none;
    color: #133A4B;
}

a:hover {
    color: #008AC4;
    transition-duration: 500ms;
}

/*Иконки svg**/
.icon-svg {
    fill: #133A4B;
}

.icon-svg:hover {
    fill: #fa873d;
    transition-duration: 500ms;
}

.svg-programa {
    fill: #008AC4;
}
///****svg Футер****//////
.footer-svg {
    fill: #008AC4;
}

.footer-svg :hover {
    fill: #FA873D;
}
///***Svg галлерея ****/////
.galery-svg{
    fill:#C9E0EC;
}
.galery-svg:hover{
    fill: #008AC4;
}
.get-help-svg{
    fill:#8EAAB6;
}
.get-help-svg:hover{
    fill:#008AC4;
}

/*Изображения**/
img {
    max-width: 100%;
    height: auto;
}

img:hover {
    opacity: 0.7;
    transition-duration: 500ms;
}
//***Фон для изображения****/////

/**Заголовок**/
.title {
    font-weight: 800;
    font-size: 34px;
    line-height: 36px;
    color: #FA873D;
}

/**Кнопки*/
//*****Оранжевая кнопка****/////
.btn-orange{
    padding: 8px 25px 8px 25px;
    background: #fa873d;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
   
    &  a {
        color: #fff;
    }
    
}
.btn-orange:hover {
    background: #008ac4;
    box-shadow: 4px 4px 20px rgba(0, 138, 196, 1);
    transition-duration: 800ms;
}




/**Прозрачная кнопка*/
.btn-transparent {
    border: 2px dashed #C9E0EC;
    border-radius: 4px;
}

.subscribe-btn {
    background: #fff;
    cursor: pointer;
    padding: 9px 40px 9px 40px;
    margin-left: 20px;
    border-radius: 4px;
    border: none;
    color: #133A4B;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 0px rgba(0, 0, 0, 0.02);
}

//***Декоры страницы***///
.decor {
    z-index: -1;
    position: absolute;
}

.decor-left {
    left: 125px;
}

.decor-right {
    right: 125px;
}


/**Media**/
@media screen and (max-width:1366px) {
    .wrapper-full {
        width: 100%;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        width: 97%;
    }

    .wrapper-full {
        width: 100%;
    }

    .title {
        text-align: center;
    }
}