h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
}

.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}
body{
    color: #133A4B;
    font-family: 'MPLUSRounded1c-Regular';
    font-size: 16px;
}

/**Обертки*/
.wrapper-full{
    width: 1920px;
    margin: 0 auto;
}

.wrapper{
    width: 1040px;
    margin: 0 auto;
}

/**Оформления для Ссылки**/
a{
    text-decoration: none;
    color: #133A4B;
}
a:hover{
    color: #008AC4;
}

/*Иконки svg**/
.icon-svg rect:hover{
    fill:#008AC4;
}